extends layoutAlt

block page 
	- var menu = 'index'
	script(type="text/javascript", src='/js/appIndexScript.js')
block content
	.columns.is-mobile.is-centered
		.column.is-half
			.card
				.card-content
					form(ng-submit='connexion(UserConn,PasswConn)')
						.field
							label.label.is-medium Utilisateur
							.control.has-icons-left.has-icons-right
								input#UserConn.input.is-success.is-medium(ng-model='UserConn',type='text', placeholder='Utilisateur') 
								span.icon.is-small.is-left
									i.fa.fa-user
								span.icon.is-small.is-right
									i.fa.fa-check
							p.help.is-success Saisir un utilisateur
						.field
							label.label.is-medium Mot de passe
							.control.has-icons-left
								input#PasswConn.input.is-medium(ng-model='PasswConn',type='password', placeholder='Mot de passe') 
								span.icon.is-small.is-left
									i.fa.fa-lock
							p.help.is-success Saisir un mot de passe
						.field
							button.button.is-black.is-medium.is-centered(type='submit') 
								b Connecter 
						input#UserSessId.input(ng-hide='true',type='password', disabled='',value=SessId)
						input#originalUrl.input(ng-hide='true',type='password', disabled='',value=originalUrl)
		
	br